<table class="table table-bordered">
  <tbody>
    {{#each gridRows as |gridRow|}}
      <tr>
        {{#each gridRow as |gridSquare|}}
          {{crossword-grid-square squareInfo=gridSquare}}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>