.cross-compatibility-container-background {
  background-color: rgb(66, 245, 236);
}

.cross-compatibility-container {
  padding-top: 50px;
  background-color: rgb(245, 206, 66);
}

.madlibs-letter-container-background {
  background-color: rgb(66, 245, 236);
  height: 100vh;
}

.madlibs-letter-container {
  padding-top: 10rem;
  background-color: rgb(245, 206, 66);
  height: 100vh;
}

table.table-bordered td.gridSquare {
  padding: 0;
  background-color: black;
  color: white;
}

table.table-bordered td.gridSquare input {
  width: 1.75rem;
  height: 1.75rem;
  text-transform: uppercase;
}

.madlibs-question-container {
  background-color: #e6ffff;
  padding-top: 1rem;
  padding-bottom: .9rem;
  margin-bottom: .5rem;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.madlibs-question-label {
  font-size: 1.25rem;
}

.letter-textarea {
  resize: none;
  background-color: #e6ffff;
}

.level1 {
  background-color: black;
  font-family: Impact, Charcoal, sans-serif;
  color: floralwhite;
  height: 100vh;
}

.level2, .big-prize {
  background-color: floralwhite;
}

.level2 table {
  margin: auto;
  display: block;
  padding-left: 10%;
  padding-right: 10%;
}

.level2 .borderless td,
.level2 .borderless th {
  border: none !important;
}

h1,
h2 {
  text-align: center;
}

.level1 h1,
.level1 h2 {
  text-align: left;
}

.level1 canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

.level2 li {
  list-style-position: inside;
  text-align: right;
}

.level2 button {
  background-color: papayawhip !important;
  border-color: lightpink !important;
}

.level1 img, .level2 img {
  display: block;
  margin: auto;
}

.big-prize {
  font-family: Impact, Charcoal, sans-serif;
  color: lightpink;
  text-align: justify;
  margin: auto;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
  height: 100vh;
}