<div class="big-prize">
  <h1>
    Congratulations! You won me over :)
  </h1>
  <p>
    Dear Angela,
    <br/>
    I love you way more than I thought I could love someone outside of my family. You are my perfect woman and I have never felt uncomfortable around you. I know we will last forever and I'm so happy that this past year has been exactly the way it was. You are the most beautiful, funniest, and most understanding person in my life. One year down, countless more to go!
    <br/>
    Here is your gift:
    <img src="/Art/Gift.png" width="200px" height="200px">
    The ruby is the birthstone for July and since I wanted your gift to be a reminder of our anniversary, I chose this necklace. I hope you wear it often and remember all the good times we have shared!
    <br/>
    Love,
    <br/>
    Paddy Cakes 🎂
  </p>
</div>