<div class="level2">
  <h1>Happy Angie-versary!!</h1>
  <h2>Level 2: Test Your Compatibility and Win Big!</h2>
  <table class="table borderless">
    <tr>
      <td>
      <label for="question1">1) Who is the best Rock of Love contestant?</label>
      </td>
      <td>
      <input type="text" id="question1" name="question">
      </td>
    </tr>
    <tr>
      <td>
      <label for="question2">2) What is the best food to eat after going to Cavanaugh's?</label>
      </td>
      <td>
      <input type="text" id="question2" name="question">
      </td>
    </tr>
    <tr>
      <td>
      <label for="question3">3) Where is the best place to buy a bottle of water at 3 AM?</label>
      </td>
      <td>
      <input type="text" id="question3" name="question">
      </td>
    </tr>
    <tr>
      <td>
      <label for="question4">4) What is the best restaurant ever?</label>
      </td>
      <td>
      <input type="text" id="question4" name="question">
      </td>
    </tr>
    <tr>
      <td>
      <label for="question5">5) When you stay in on the weekend, what is the best food to order at night?</label>
      </td>
      <td>
      <input type="text" id="question5" name="question">
      </td>
    </tr>
    <tr>
      <td>
      <label for="question6">6) What city has the best brunch spot in the USA?</label>
      </td>
      <td>
      <input type="text" id="question6" name="question">
      </td>
    </tr>
    <tr>
      <td>
      <label for="question7">7) If you had to get a couples tattoo, what would it be?</label>
      </td>
      <td>
      <input type="text" id="question7" name="question">
      </td>
    </tr>
    <tr>
      <td>
      <label for="question8">8) If you could meet a celebrity on your second date with someone, who would it be?</label>
      </td>
      <td>
      <input type="text" id="question8" name="question">
      </td>
    </tr>
    <tr>
      <td>
      <label for="question9">9) Fill in the blank: The best Valentine's Day gift I ever got was a ______ _______?</label>
      </td>
      <td>
      <input type="text" id="question9" name="question">
      </td>
    </tr>
    <tr>
      <td>
      <label for="question10">10) Multiple Choice: My ideal boyfriend is _________.</label>
      </td>
      <td>
      <input type="text" id="question10" name="question">
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>a) attractive</li>
          <li>b) funny</li>
          <li>c) nerdy</li>
          <li>d) romantic</li>
          <li>e) all of the above</li>
        </ul>
      </td>
      <td>
        <button id="submit" class="btn btn-default" {{action "validateForm"}}>Check Your Answers</button>
      </td>
    </tr>
  </table>
</div>