<div class="madlibs-letter-container-background">
  <div class="container madlibs-letter-container">
    <div class="row">
      <div class="col-xs-12 offset-1">
        <textarea class="letter-textarea" readonly="true" rows="13" cols="125">{{formattedLetter}}</textarea>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-3 offset-3">
          <LinkTo class="btn btn-primary" @route="2019.madlibs-letter.questions">Back To Questions</LinkTo>
        </div>
        {{#if useDefaults}}
          <div class="col-xs-3 offset-1">
            <button class="btn btn-primary" {{action "useUserAnswers"}}>Read Fake Letter</button>
          </div>
        {{else}}
          <div class="col-xs-3 offset-1">
            <button class="btn btn-primary" {{action "useDefaultAnswers"}}>Read Real Letter</button>
          </div>
        {{/if}}
      </div>
  </div>
</div>