<div class="cross-compatibility-container-background">
  <div class="container cross-compatibility-container">
    <div class="row">
      <div class="col-xs-6 offset-1"><h3>Test your relationship knowledge with a fun puzzle:</h3></div>
    </div>
    <div class="row">
      <div class="col-xs-6">{{crossword-grid}}</div>
    </div>
  </div>
</div>