<div class="container">
  <div class="row">
    <div class="col-xs-6 offset-3"><p>Test your relationship knowledge with a fun puzzle:</p></div>
  </div>
  <div class="row">
    <div class="col-xs-6 offset-3">{{crossword-grid}}</div>
  </div>
</div>
